*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --zinc900: #18181b;
  --zinc800: #27272a;
  --zinc700: #3f3f46;
  --zinc600: #52525b;
  --zinc400: #A1A1AA;
  --sky700: #0369a1;
  --sky400: #38BDF8;
}

body{
  border: 2px solid var(--sky400);
  border-radius: 20px;
  max-width: 80rem;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  background-color: var(--zinc900);
  color: var(--zinc400);

  h1{
    color: var(--zinc400);
  }
  strong{
    color: var(--sky400);
  }

  header{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2rem;
    font-size: 1.5rem;
    max-width: 80rem;

    img{
      max-width: 20rem;
      max-height: 20rem;
      border-radius: 50%;
      margin-bottom: 2rem;
      border: 10px solid var(--sky700);
    }
    #text{
      color: var(--sky400);
    }
  }
  main{
    margin: 3.5rem;
    strong{
      font-size: 2rem;
    }
    .description{
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      
      h2{
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
      p{
        font-size: 1.4rem;
      }
    }
    .links{
      img{
        width: 2.2rem;
        margin: 0.5rem;
        cursor: pointer;
      }
    }
    .butoes{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;

      a{
        color: var(--sky400);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      img{
        width: 1.5rem;
      }

      button{
        background-color: var(--zinc800) ;
        border: 1px solid var(--sky400);
  
        padding: 2rem;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-radius: 2rem;
      }
      button:hover{
        background-color: var(--zinc700);
      }
    }
    .habilidades{
      margin-top: 4rem;

      display: flex;
      align-items: center;
      flex-direction: column;

      .skills{
        display: flex;
        flex-direction: column;
        margin: 2rem 0 2rem 0;
        .swiper {
          width: 350px;
          height: 125px;
        }
        .skill{
          background-color: var(--zinc800);
          width: 11rem;
          height: 11rem;
          border-radius: 1rem;
  
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 1rem;

          img{
            width: 7.5rem;
          }
        }
        .swiper-buttons{
          display: flex;
          gap: 1.5rem;
          align-items: center;
          justify-content: center;
          
          img{
            width: 2rem;
          }
        }
      }
    }
    .projetos{
      margin-top: 4rem;

      display: flex;
      align-items: center;
      flex-direction: column;

      .projects{
        margin-top: 2rem;
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .trabalhos{
          background-color: var(--zinc800);
          width: 11rem;
          height: 12rem;
          border-radius: 1rem;
  
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          flex-direction: column;

          a{
            font-size: 1.5rem;
            text-decoration: none;
            text-align: center;
            color: var(--zinc600);
          }
          a:hover{
            color: var(--zinc400);
          }

          img{
            width: 7.5rem;
            margin-bottom: 0.5rem;
            
          }
      }
      }
    }

  }
}